<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <title>Menu</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div th:replace="~{header :: header}"></div>

<div class="container mt-5 text-center">
    <div class="mt-5">
        <div style="margin-top: 100px;" class="mb-5">
            <h2 th:text="${category}" class="text-primary" ></h2>
        </div>

        <div class="row mb-5">
            <div class="col-md-4 offset-md-4">
                <button id="togglePriceFilter" class="btn btn-primary mt-2" onclick="togglePriceFilter()">Filter by Price</button>
                <form id="priceFilter" style="display: none;" th:action="@{/menu/{category}(category=${category})}" method="get">
                    <div class="form-row mt-1">
                        <div class="form-group col-md-3">
                            <label for="minPrice">Min price:</label>
                            <input type="number" class="form-control" id="minPrice" name="minPrice" th:value="${minPrice}" />
                        </div>
                        <div class="form-group col-md-3 mt-1">
                            <label for="maxPrice">Max price:</label>
                            <input type="number" class="form-control" id="maxPrice" name="maxPrice" th:value="${maxPrice}" />
                        </div>
                        <div class="form-group col-md-2 mt-3">
                            <button type="submit" class="btn btn-primary">Apply Filter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row mt-5">
            <div th:each="menuItem, iStat : ${menuPage.content}" class="col-md-4 mb-4 menu-item" th:data-price="${menuItem.price}">
                <div class="card" style="width: 22rem; height: 36rem;">
                    <div class="image-container">
                        <img
                                th:src="@{'/images/' + ${menuItem.id} + '.jpeg'}"
                                class="card-img-top"
                                width="300"
                                height="300"
                                onerror="this.src='/images/default.jpeg';"
                        />
                        <a sec:authorize="hasAnyRole('admin', 'manager')" class="image-button" style="position: absolute; top: 5%; left: 75%; transform: translate(-50%, -50%); background-color: rgba(0, 0, 0, 0.5); color: white; border: none; cursor: pointer;" th:href="@{/dishes/{dishId}/edit(dishId=${menuItem.id})}"><span class="bi bi-pen"></span></a>
                        <form sec:authorize="hasAnyRole('admin', 'manager')" th:action="@{/dishes/{dishId}(dishId=${menuItem.id})}" th:method="delete" onsubmit="return confirm('Are you sure you want to delete this dish?');">
                            <button class="image-button" style="position: absolute; top: 5%; left: 90%; transform: translate(-50%, -50%); background-color: rgba(0, 0, 0, 0.5); color: white; border: none; cursor: pointer;" type="submit"><span class="bi bi-trash"></span></button>
                        </form>

                    </div>

                    <div class="card-body menu-card-body">
                        <h5 class="card-title" th:text="${menuItem.name}"></h5>
                        <p class="card-text" style="max-height: 8em; overflow: hidden;" th:text="${menuItem.description}"></p>
                        <p class="card-text" th:text="'$' + ${menuItem.price}"></p>

                        <div id="cartButtonContainer" class="mt-auto">

                            <div th:id="'btnAddToCart-' + ${menuItem.id}" th:style="${dishQuantityMap.containsKey(menuItem.name)  ? 'display: none;' : 'display: block;'}">
                                <button class="btn btn-primary" th:data-dish-id="${menuItem.id}" onclick="initialAddToCart(this)">Add to cart</button>
                                <a th:href="@{/dishes/{id}(id=${menuItem.id})}" class="btn btn-primary">Show more</a>
                            </div>

                            <div th:id="'quantityElement-' + ${menuItem.id}" th:style="${dishQuantityMap.containsKey(menuItem.name)  ? 'display: block;' : 'display: none;'}">
                                <button class="btn btn-outline-primary" th:data-dish-id="${menuItem.id}" onclick="removeFromCart(this)">-</button>
                                <span th:id="'quantityId-' + ${menuItem.id}" class="ms-1 me-1" th:text="${dishQuantityMap[menuItem.name]}"></span>
                                <button class="btn btn-outline-primary" th:data-dish-id="${menuItem.id}" onclick="addToCart(this)">+</button>
                                <a href="/cart" class="btn btn-primary">Go to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<nav th:if="${menuPage.totalPages > 0}" aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:class="${menuPage.first} ? disabled">
            <a class="page-link" th:href="@{/menu/{category}(category=${category}, size=${menuPage.size}, page=1, minPrice=${minPrice}, maxPrice=${maxPrice})}" aria-label="First">
                <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:class="${menuPage.hasPrevious} ? '' : 'disabled'">
            <a class="page-link"
               th:href="@{/menu/{category}(
                    category=${category},
                    size=${menuPage.size},
                    page=${menuPage.number}, minPrice=${minPrice}, maxPrice=${maxPrice}
                    )}"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <th:block th:each="pageNumber : ${pageNumbers}">
            <li class="page-item" th:class="${pageNumber==(menuPage.number + 1)} ? 'active' : ''">
                <a class="page-link" th:href="@{/menu/{category}(category=${category}, size=${menuPage.size}, page=${pageNumber}, minPrice=${minPrice}, maxPrice=${maxPrice})}" th:text="${pageNumber}"></a>
            </li>
        </th:block>
        <li class="page-item" th:class="${menuPage.hasNext} ? '' : 'disabled'">
            <a class="page-link" th:href="@{/menu/{category}(category=${category}, size=${menuPage.size}, page=${menuPage.number + 2}, minPrice=${minPrice}, maxPrice=${maxPrice})}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li class="page-item" th:class="${menuPage.last} ? disabled">
            <a class="page-link" th:href="@{/menu/{category}(category=${category}, size=${menuPage.size}, page=${menuPage.totalPages}, minPrice=${minPrice}, maxPrice=${maxPrice})}" aria-label="Last">
                <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

</body>
</html>
