<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit address</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>

<div th:replace="~{header :: header}"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <br>
            <a class="btn btn-light mt-5" href="javascript:history.back();"><span class="bi bi-chevron-left"></span></a>
            <br>
            <h1>Edit user account</h1>
            <form th:action="@{/users/{id}/edit/(id=${user.id})}" th:method="PUT" th:object="${user}">
                <label sec:authorize="hasRole('admin')" for="id">Id:</label>
                <input sec:authorize="hasRole('admin')" class="form-control" type="text" id = "id" name = "id" th:field="*{id}" disabled />
                <input sec:authorize="!hasRole('admin')" class="form-control" type="hidden" id = "idHidden" name = "idHidden" th:field="*{id}" />

                <br>
                <label for="firstName">First Name:</label>
                <input class="form-control" type="text" id="firstName" name="firstName" th:field="*{firstName}" required />
                <br>
                <label for="lastName">Last Name:</label>
                <input class="form-control" type="text" id="lastName" name="lastName" th:field="*{lastName}" required />
                <br>
                <label for="email">Email:</label>
                <input class="form-control" type="email" id="email" name="email" th:field="*{email}" disabled/>
                <input th:field="*{email}" style="display:none"/>
                <br>
                <label for="username">Username:</label>
                <input class="form-control" type="text" id="username" name="username" th:field="*{username}" th:readonly="true" disabled/>
                <input th:field="*{username}" style="display:none"/>
                <br>
                <input class="form-control" type="hidden" id="password" name="password" th:field="*{password}" />
                <br>
                <label th:if="${user.id != 1}" sec:authorize="hasRole('admin')" for="role">Role:</label>
                <select th:if="${user.id != 1}" sec:authorize="hasRole('admin')" id="role" name="role.id" th:field="*{role.id}" required>
                    <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
                </select>

                <input sec:authorize="!hasRole('admin')" class="form-control" type="hidden" id = "roleHidden" name = "roleHidden" th:field="*{role}" />


                <br>
                <br>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

            </form>

            <div class="container">
                <div class="row justify-content-center mt-1">
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        <form th:if="${#authentication.principal.userDto.id != 1}" th:action="@{/users/{id}(id=${#authentication.principal.userDto.id})}" th:method="delete" onsubmit="return confirm('Are you sure you want to delete this user?');">
                            <button type="submit" class="btn btn-link">Delete account</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


</body>
</html>
