<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Add new address</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}"/>
    <style>
        /* CSS style for red colored field in case of bad input */
        .error-field {
            border: 1px solid red;
        }~
    </style>

</head>

<body>

<div th:replace="~{header :: header}"></div>

<div class="container">
    <h1>Add new address</h1>
    <form th:action="@{/users/{id}/addresses/add(id=${#authentication.principal.userDto.id})}" th:object="${address}" method="post">
        <div class="form-group">
            <label for="street">Street:</label>
            <input type="text" class="form-control" id="street" th:field="*{street}" maxlength="20" required>
            <p id="streetError" style="color: red;"></p>
            <br>
            <label for="house">House:</label>
            <input type="text" class="form-control" id="house" th:field="*{house}" maxlength="10" required>
            <p id="houseError" style="color: red;"></p>
            <br>
            <label for="apartment">Apartment:</label>
            <input type="text" class="form-control" id="apartment" th:field="*{apartment}" maxlength="10" required>
            <br>
            <p id="apartmentError" style="color: red;"></p>
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Add</button>
        <a class="btn btn-primary" href="/users/{id}/addresses(id=${#authentication.principal.userDto.id})">Cancel</a>

    </form>
</div>


</body>

</html>

