<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create User</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" />

</head>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var firstNameInput = document.getElementById("firstName");
        var lastNameInput = document.getElementById("lastname");
        var firstNameError = document.getElementById("firstNameError");
        var lastNameError = document.getElementById("lastNameError");

        function validateNameInput(input, errorElement) {
            var nameValue = input.value.trim();
            var namePattern = /^[a-zA-Z]+$/;

            if (!namePattern.test(nameValue)) {
                input.setCustomValidity("Please enter a valid name with letters only");
                errorElement.textContent = "Please enter a valid name with letters only";
            } else {
                input.setCustomValidity("");
                errorElement.textContent = "";
            }
        }

        firstNameInput.addEventListener("input", function () {
            validateNameInput(firstNameInput, firstNameError);
        });

        lastNameInput.addEventListener("input", function () {
            validateNameInput(lastNameInput, lastNameError);
        });
    });
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var password = document.getElementById("password");
        var repeatPassword = document.getElementById("repeatPassword");
        var passwordError = document.getElementById("passwordError");

        repeatPassword.addEventListener("input", function () {
            if (password.value !== repeatPassword.value) {
                repeatPassword.setCustomValidity("Passwords must match");
                passwordError.textContent = "Passwords must match";
            } else {
                repeatPassword.setCustomValidity("");
                passwordError.textContent = "";
            }
        });
    });
</script>

<body>

<div class="container">
    <h1>Registration</h1>
    <form th:action="@{/users}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" id="firstName" th:field="*{firstName}" required>
            <p id="firstNameError" style="color: red;"></p>
            <br>
            <label for="lastname">Last Name:</label>
            <input type="text" class="form-control" id="lastname" th:field="*{lastName}" required>
            <p id="lastNameError" style="color: red;"></p>
            <br>
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" required>
            <br>
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" required>
            <br>
            <label for="repeatPassword">Repeat Password:</label>
            <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" required>

            <p id="passwordError" style="color: red;"></p>

            <!--            <br>-->
<!--            <label for="role">Role:</label>-->
<!--            <input type="text" class="form-control" id="role" th:field="*{role}" required>-->
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Create User</button>

    </form>
</div>

</body>



</html>

