<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create User</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" />

</head>
<body>

<div class="container">
    <h1>Please fill this form to register in our Restaurant</h1>
    <form th:action="@{/users}" th:object="${user}" method="post" onsubmit="return validateForm()">
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" id="firstName" th:field="*{firstName}" required>
            <br>
            <label for="lastname">Last Name:</label>
            <input type="text" class="form-control" id="lastname" th:field="*{lastName}" required>
            <br>
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" required>
            <br>
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" required>
            <br>
            <label for="repeatPassword">Repeat Password:</label>
            <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" required>

            <p th:if="${#fields.hasErrors('password')}" style="color: red;">Passwords do not match.</p>

            <!--            <br>-->
<!--            <label for="role">Role:</label>-->
<!--            <input type="text" class="form-control" id="role" th:field="*{role}" required>-->
        </div>

        <br>
        <button type="submit" class="btn btn-primary" onclick="return validateNames()">Create User</button>

    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var form = document.querySelector("form");
        form.addEventListener("submit", function (event) {
            if (!validateForm()) {
                event.preventDefault(); // Prevent form submission
            }
        });
    });


function validateForm() {
    var password = document.getElementById("password").value;
    var repeatPassword = document.getElementById("repeatPassword").value;
    var errorField = document.querySelector('[th:if="${#fields.hasErrors(\'password\')}"]');

    errorField.innerHTML = "Passwords do not match.";
    return false; // Prevent form submission


<!--    if (password !== repeatPassword) {-->
<!--        errorField.innerHTML = "Passwords do not match.";-->
<!--        return false; // Prevent form submission-->
<!--    } else {-->
<!--        errorField.innerHTML = ""; // Clear error message-->
<!--        return true; // Allow form submission-->
<!--    }-->
}
</script>

</body>
</html>

