<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orders history</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" />
    <style>
        .navbar-nav {
            margin-left: 25%;
        }
    </style>
</head>
<body>

<div th:replace="~{header :: header}"></div>

<ul class="nav nav-underline">
    <h1>My orders</h1>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" th:href="@{/users/personal-account}">Personal account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/users/personal-account/edit/{username}(username=${#authentication.principal.username})}">Edit personal data</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/users/personal-account/addresses}">My addresses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" th:href="@{/users/personal-account/orders}">My orders</a>
    </li>
</ul>

<div class="container">
    <div th:if="${updateSuccess}" class="alert alert-success">Success</div>
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Status</th>
            <th>Delivery address</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.created}"></td>
            <td th:text="${order.status}"></td>
            <td th:text="${order.deliveryAddress.street}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/users}">More info</a>
            </td>
        </tr>

        </tbody>
    </table>

</div>

</body>
</html>