<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <title>Personal account</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" />
</head>
<body>

<div th:replace="~{header :: header}"></div>


<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-2 col-md-3 mt-5">
            <ul class="nav flex-column nav-pills me-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/users/{id}/personal-account(id=${#authentication.principal.userDto.id})}">My orders</a>
                </li>
                <li class="nav-item">
                    <form th:object="${user}">
                        <a class="nav-link" th:href="@{/users/{id}/edit(id=${#authentication.principal.userDto.id})}">Account</a>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/{id}/addresses(id=${#authentication.principal.userDto.id})}">My addresses</a>
                </li>
            </ul>
        </div>


        <div class="col-lg-10 col-md-9 mt-5">
            <h2>Your orders</h2>
            <div>
                <button id="toggleDateFilter" class="btn btn-primary mt-2" onclick="toggleDateFilter()">Filter by Date</button>
                <form id="dateFilter" style="display: none;" th:action="@{/users/{id}/personal-account(id=${user.id})}" method="get">
                    <div class="form-row mt-1">
                        <div class="form-group col-md-3">
                            <label for="startDate">Start Date:</label>
                            <input type="date" class="form-control" id="startDate" name="startDate" th:value="${startDate}" />
                        </div>
                        <div class="form-group col-md-3 mt-1">
                            <label for="endDate">End Date:</label>
                            <input type="date" class="form-control" id="endDate" name="endDate" th:value="${endDate}" />
                        </div>
                        <div class="form-group col-md-2 mt-3">
                            <button type="submit" class="btn btn-primary">Apply Filter</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="mt-5">
                <div th:each="order, iStat : ${ordersPage.content}">
                    <div class="col-md-12 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 th:text="'Order #' + ${order.id} + '. ' + ${order.status}"></h4>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Delivery address</th>
                                        <th>Total price</th>
                                        <th>More info</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="${order.getFormattedCreated()}"></td>
                                        <td th:text="${order.status}"></td>
                                        <td th:text="${order.deliveryAddress.toCartString()}"></td>
                                        <td th:text="'$' + ${totalPricesMap[order.id]}"></td>
                                        <td>
                                            <a class="btn btn-primary" th:href="@{/orders/{id}(id=${order.id})}">More info</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>




<nav th:if="${ordersPage.totalPages > 0}" aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:class="${ordersPage.first} ? disabled">
            <a class="page-link" th:href="@{/users/{id}/personal-account(id=${user.id}, size=${ordersPage.size}, page=1, startDate=${startDate}, endDate=${endDate})}" aria-label="First">
                <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:class="${ordersPage.hasPrevious} ? '' : 'disabled'">
            <a class="page-link"
               th:href="@{/users/{id}/personal-account(id=${user.id}, size=${ordersPage.size},page=${ordersPage.number}, startDate=${startDate}, endDate=${endDate})}"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <th:block th:each="pageNumber : ${pageNumbers}">
            <li class="page-item" th:class="${pageNumber==(ordersPage.number + 1)} ? 'active' : ''">
                <a class="page-link" th:href="@{/users/{id}/personal-account(id=${user.id}, size=${ordersPage.size}, page=${pageNumber}, startDate=${startDate}, endDate=${endDate})}" th:text="${pageNumber}"></a>
            </li>
        </th:block>
        <li class="page-item" th:class="${ordersPage.hasNext} ? '' : 'disabled'">
            <a class="page-link" th:href="@{/users/{id}/personal-account(id=${user.id}, size=${ordersPage.size}, page=${ordersPage.number + 2}, startDate=${startDate}, endDate=${endDate})}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li class="page-item" th:class="${ordersPage.last} ? disabled">
            <a class="page-link" th:href="@{/users/{id}/personal-account(id=${user.id}, size=${ordersPage.size}, page=${ordersPage.totalPages}, startDate=${startDate}, endDate=${endDate})}" aria-label="Last">
                <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<script>
    function toggleDateFilter() {
        var dateFilterForm = document.getElementById('dateFilter');

        if (dateFilterForm.style.display === 'none') {
            dateFilterForm.style.display = 'block';
        } else {
            dateFilterForm.style.display = 'none';
        }
    }
</script>

</body>
</html>