<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <title>Personal account</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" />
</head>
<body>

<div th:replace="~{header :: header}"></div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-2 col-md-3 mt-5">
            <ul class="nav flex-column nav-pills me-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/users/{id}/personal-account(id=${#authentication.principal.userDto.id})}">My orders</a>
                </li>
                <li class="nav-item">
                    <form th:object="${user}">
                        <a class="nav-link" th:href="@{/users/{id}/edit(id=${#authentication.principal.userDto.id})}">Account</a>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/{id}/addresses(id=${#authentication.principal.userDto.id})}">My addresses</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-10 col-md-9 mt-5">
            <h2>Your orders</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Delivery address</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.created}"></td>
                    <td th:text="${order.status}"></td>
                    <td th:text="${order.deliveryAddress.street}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/orders/{id}(id=${order.id})}">More info</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>




<br>







</body>
</html>