<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create User</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>

<div th:replace="~{header :: header}"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <br>
            <button class="btn btn-light" onclick="goBack()"><span class="bi bi-chevron-left"></span></button>
            <br>
            <h1 class="text-center">Registration</h1>
            <div class="alert alert-danger" th:if="${restaurantException}">
                <p th:text="${restaurantException}"></p>
            </div>
            <br>
            <form th:action="@{/users/registration}" th:object="${user}" method="post">
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label" for="firstName">First name</label>
                            <input type="text" id="firstName" class="form-control" th:field="*{firstName}" maxlength="30" required />
                            <div id="firstNameError" class="form-text" style="color: red;"></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label" for="lastName">Last name</label>
                            <input type="text" id="lastname" class="form-control" th:field="*{lastName}" maxlength="30" required>
                            <div id="lastNameError" class="form-text" style="color: red;"></div>
                        </div>
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="username">Username</label>
                    <input type="text" id="username" class="form-control" th:field="*{username} " maxlength="30"required>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="email">Email address</label>
                    <input type="email" id="email" class="form-control" th:field="*{email}" maxlength="50" required>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" id="password" class="form-control" th:field="*{password}" maxlength="30"required>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="repeatPassword">Repeat password</label>
                    <input type="password" id="repeatPassword" class="form-control" name="repeatPassword" maxlength="30"required>
                    <div id="passwordError" class="form-text" style="color: red;"></div>
                </div>

                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit" >Submit</button>
                </div>

            </form>

        </div>
    </div>
</div>


</body>

<script>

function goBack() {
    window.history.back();
}

function validateNames() {
    var firstNameInput = document.getElementById("firstName");
    var lastNameInput = document.getElementById("lastname");
    var firstNameError = document.getElementById("firstNameError");
    var lastNameError = document.getElementById("lastNameError");

    function validateNameInput(input, errorElement) {
        var nameValue = input.value.trim();
        var namePattern = /^[a-zA-Z]+$/;

        if (!namePattern.test(nameValue)) {
            input.setCustomValidity("Please use letters only");
            errorElement.textContent = "Please use letters only";
        } else {
            input.setCustomValidity("");
            errorElement.textContent = "";
        }
    }

    firstNameInput.addEventListener("input", function () {
        validateNameInput(firstNameInput, firstNameError);
    });

    lastNameInput.addEventListener("input", function () {
        validateNameInput(lastNameInput, lastNameError);
    });
}

function passwordMatches() {
        var password = document.getElementById("password");
        var repeatPassword = document.getElementById("repeatPassword");

        repeatPassword.addEventListener("input", function () {
            if (password.value !== repeatPassword.value) {
                repeatPassword.setCustomValidity("Passwords must match");
                repeatPassword.classList.add("is-invalid");
            } else {
                repeatPassword.setCustomValidity("");
                repeatPassword.classList.remove("is-invalid");
            }
        });
}

document.addEventListener("DOMContentLoaded", validateNames);
document.addEventListener("DOMContentLoaded", passwordMatches);


</script>


</html>

