<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Testing JavaScript</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" />
    <style>
        .navbar-nav {
            margin-left: 25%;
        }
    </style>
</head>
<body>

<div th:replace="~{header :: header}"></div>

<h1>Thank you for your registration!</h1>


<p>Please, proceed to sign in. </p>
<br>
<a th:href="@{/login}" class="btn btn-primary">Sign in</a>

</body>
</html>