<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Testing JavaScript</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" />
    <style>
        .navbar-nav {
            margin-left: 25%;
        }
    </style>
</head>
<body>

<div th:replace="header :: header"></div>

<h1>Welcome to our Restaurant!</h1>

<p>Dear <span th:text="${authenticatedUsername}"></span>!</p>

<a th:href="@{/}" class="btn btn-primary">Go make your first order!</a>
</body>
</html>