<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div th:replace="~{header :: header}"></div>



<div class="container mt-2">

    <div class="row mb-4">
        <div class="col text-center">
            <h1 class="mt-5">Shopping Cart</h1>
        </div>
    </div>

    <div th:if="${#lists.isEmpty(cartItems)}" class="d-flex justify-content-center align-items-center" style="height: 50vh;">
        <div>
            <p>Your cart is empty.</p>
        </div>
    </div>

    <table th:if="${not #lists.isEmpty(cartItems)}" class="table">
        <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cartItems}" th:if="${item.quantity > 0}">
            <td th:text="${item.dish.name}"></td>
            <td>
                <button class="btn btn-outline-primary" type="button" th:data-dish-id="${item.dish.id}" onclick="removeFromCart(this)">-</button>
                <span  th:id="@{quantityId-{dishId}(dishId=${item.dish.id})}" class="ms-1 me-1" th:text="${item.quantity}"></span>
                <button class="btn btn-outline-primary" type="button" th:data-dish-id="${item.dish.id}" onclick="addToCart(this)">+</button>
            </td>

            <td th:id="@{price-{dishId}(dishId=${item.dish.id})}" th:text="'$' + ${item.dishPrice}"></td>
            <td th:id="@{totalPrice-{dishId}(dishId=${item.dish.id})}" th:text="'$' + ${#numbers.formatDecimal(item.quantity * item.dishPrice,1,2)}"></td>

            <td>
                <button class="btn" type="button" th:data-dish-id="${item.dish.id}" onclick="removeItem(this)"><span class="bi bi-trash"></span></button>
            </td>

        </tr>
        </tbody>
    </table>

    <div class="row justify-content-center mt-5">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div id="totalPriceAndCheckout" th:if="${not #lists.isEmpty(cartItems)}">
                <p id="totalPriceOfCart" text=""></p>
                <a class="btn btn-primary" th:href="@{/checkout}">Proceed to Checkout</a>
                </button>
            </div>
        </div>
    </div>
</div>


<script>
    function addToCart(button){
        console.log('addToCart');
        var id = $(button).data('dish-id');
        $.ajax({
            url: '/cart/' + id + '/add',
            type: 'post',
            success: function() {
                increaseQuantity(id);
                updateTotalPriceRow(id);
                updateTotalPrice();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("AJAX Request Failed: " + textStatus + ", " + errorThrown);
                alert("An error occurred while adding the item to the cart.");
            }
        });
    }

    function removeFromCart(button){
        console.log('Remove from cart');
        var id = $(button).data('dish-id');
        $.ajax({
            url: '/cart/' + id + '/remove',
            type: 'put',
            success: function() {
                decreaseQuantity(id);
                updateTotalPriceRow(id);
                updateTotalPrice();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("AJAX Request Failed: " + textStatus + ", " + errorThrown);
                alert("An error occurred while adding the item to the cart.");
            }
        });
    }

    function increaseQuantity(dishId){
        var elementId = 'quantityId-' + dishId;
        var element = document.getElementById(elementId);
        var currentValue = parseInt(element.textContent, 10);
        var newValue = currentValue + 1;
        element.textContent = newValue;
    }

    function decreaseQuantity(dishId){
        var elementId = 'quantityId-' + dishId;
        var element = document.getElementById(elementId);
        var currentValue = parseInt(element.textContent, 10);
        var newValue = currentValue - 1;
        if (newValue > 0){
            element.textContent = newValue;
        } else{
            var row = element.closest('tr');
            row.remove();
        }

    }

    function removeItem(button){
        console.log('Delete from cart');
        var id = $(button).data('dish-id');
        var elementId = 'quantityId-' + id;
        var element = document.getElementById(elementId);
        deleteItem(id);
        $(button).closest('tr').remove();
    }

    function deleteItem(id){
        $.ajax({
            url: '/cart/' + id + '/deleteItem',
            type: 'delete',
            success: function() {
                console.log('Success delete of item with id ' + id);
                updateTotalPrice();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("AJAX Request Failed: " + textStatus + ", " + errorThrown);
                alert("An error occurred while adding the item to the cart.");
            }
        });
    }

function calculateTotalPrice() {
    var total = 0;
    var itemRows = document.querySelectorAll('table tbody tr');

    itemRows.forEach(function (itemRow) {
        var quantity = parseInt(itemRow.querySelector('span').textContent, 10);
        var priceText = itemRow.querySelector('td:nth-child(3)').textContent.trim();
        var price = parseFloat(priceText.substring(1)); // Remove the '$' and parse as float
        var itemTotal = quantity * price;
        total += itemTotal;
    });

    return total;
}

function updateTotalPrice() {
    var totalPriceElement = document.getElementById('totalPriceOfCart');
    var totalPrice = calculateTotalPrice();
    var divTotalPriceAndCheckout = document.getElementById('totalPriceAndCheckout');

    if (totalPrice == 0){
        divTotalPriceAndCheckout.style.display = 'none';
    } else{
        divTotalPriceAndCheckout.style.display = 'inline-block';
    }

    if (totalPriceElement && totalPrice && divTotalPriceAndCheckout){
        totalPriceElement.textContent = 'Total Price: $' + totalPrice.toFixed(2);
    }
}

    function updateTotalPriceRow(id) {

        var quantityElement = document.getElementById('quantityId-' + id);
        var priceElement = document.getElementById('price-' + id);
        var totalPriceElement = document.getElementById('totalPrice-' + id);

        if (quantityElement && priceElement && totalPriceElement) {
            var quantity = parseInt(quantityElement.textContent);
            var price = parseFloat(priceElement.textContent.replace('$', ''));

            var totalPrice = quantity * price;

            totalPriceElement.textContent = '$' + totalPrice.toFixed(2);
        }

    }


window.onload = function() {
    updateTotalPrice();
};

</script>

</body>
</html>