<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div th:replace="~{header :: header}"></div>



<div class="container mt-5">

    <h1 class="mt-5">Your Order</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cartItems}">
            <td th:text="${item.id}"> </td>>
            <td th:text="${item.dish.name}"></td>
            <td>

                <span  th:id="@{quantityId-{dishId}(dishId=${item.dish.id})}" class="ms-1 me-1" th:text="${item.quantity}"></span>

            </td>

            <td>

            </td>
            <td th:text="${item.dishPrice}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <select th:if="${not #lists.isEmpty(addresses)}" id="addresses" name="addresses" th:field="*{addresses}" required>
        <option th:each="address : ${addresses}" th:value="${address.id}" th:text="${address.toCartString()}"></option>
    </select>

    <div>
        <a class="btn" th:href="@{/users/{id}/addresses/add(id=${#authentication.principal.userDto.id})}">Add new address</a>
    </div>
</div>






<p>Total Price: $<span th:text="${totalPrice}"></span></p>

<button class="btn btn-primary" onclick="makeOrder(this)" th:data-href-url="@{/users/{id}/personal-account(id=${#authentication.principal.userDto.id})}">
    Make order
</button>

<script>
        function makeOrder(button){
        var hrefUrl = $(button).data('href-url');
        var selectedAddressId = $('#addresses').val();
        var formData = new FormData();
        formData.append('selectedAddressId', selectedAddressId);
        $.ajax({
            url: '/cart/make-order',
            type: 'post',

            data: formData,
            processData: false,
            contentType: false,
            success: function(data) {
                console.log("Success order");
                window.location.href = hrefUrl;
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("AJAX Request Failed: " + textStatus + ", " + errorThrown);
                alert("An error occurred while adding the item to the cart.");
            }
        });
    }

</script>

</body>
</html>
