<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <title>Addresses</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div th:replace="~{header :: header}"></div>


<div class="container mt-2">

<!--    <div class="row mb-4">-->
<!--        <div class="col text-center">-->
<!--            <h1 class="mt-5">Hot Sales</h1>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--        <div class="col">-->
<!--            <div class="row">-->
<!--                <div th:each="hotSale : ${hotSales}" class="col-md-4 mb-4">-->
<!--                    <div class="card" style="width: 22rem; height: 36rem;">-->
<!--                        <img-->
<!--                                th:src="@{/images/{id}.jpeg(id=${hotSale.id})}"-->
<!--                                class="card-img-top"-->
<!--                                width="300"-->
<!--                                height="300"-->
<!--                                onerror="this.src='/images/default.jpeg';"-->
<!--                        />-->
<!--                        <div class="card-body menu-card-body">-->
<!--                            <h5 class="card-title" th:text="${hotSale.name}"></h5>-->
<!--                            <p class="card-text menu-truncate" th:text="${hotSale.description}"></p>-->
<!--                            <p class="card-text menu-truncate" th:text="'$' + ${hotSale.price}"></p>-->

<!--                            <div id="cartButtonContainer-{dishId}(dishId=${hotSale.id})}">-->

<!--                                <div th:id="@{btnAddToCart-{dishId}(dishId=${hotSale.id})}" th:style="${dishQuantityMap.containsKey(hotSale.name)  ? 'display: none;' : 'display: block;'}">-->
<!--                                    <button class="btn btn-primary" th:data-dish-id="${hotSale.id}" onclick="initialAddToCart(this)">Add to cart</button>-->
<!--                                    <a th:href="@{/dishes/{id}(id=${hotSale.id})}" class="btn btn-primary">Show more</a>-->
<!--                                </div>-->

<!--                                <div th:id="@{quantityElement-{dishId}(dishId=${hotSale.id})}" th:style="${dishQuantityMap.containsKey(hotSale.name)  ? 'display: block;' : 'display: none;'}">-->
<!--                                    <button class="btn btn-outline-primary" th:data-dish-id="${hotSale.id}" onclick="removeFromCart(this)">-</button>-->
<!--                                    <span th:id="'quantityId-' + ${hotSale.id}" class="ms-1 me-1" th:text="${dishQuantityMap[hotSale.name]}"></span>-->
<!--                                    <button class="btn btn-outline-primary" th:data-dish-id="${hotSale.id}" onclick="addToCart(this)">+</button>-->
<!--                                    <a th:href="@{/dishes/{id}(id=${hotSale.id})}" class="btn btn-primary">Show more</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="row mb-4">
        <div class="col text-center">
            <h1 class="mt-5">Menu</h1>
        </div>
    </div>


    <div th:each="category : ${menuItemsByCategory}" class="mb-4">
        <h2 th:text="${category.key}" class="text-primary"></h2>
        <div class="row">
            <div th:each="menuItem : ${category.value}" class="col-md-4 mb-4">
                <div class="card" style="width: 22rem; height: 36rem;">
                    <img
                            th:src="@{/images/{id}.jpeg(id=${menuItem.id})}"
                            class="card-img-top"
                            width="300"
                            height="300"
                            onerror="this.src='/images/default.jpeg';"
                    />
                    <div class="card-body menu-card-body">
                        <h5 class="card-title" th:text="${menuItem.name}"></h5>
                        <p class="card-text" style="max-height: 8em; overflow: hidden;" th:text="${menuItem.description}"></p>
                        <p class="card-text" th:text="'$' + ${menuItem.price}"></p>

                        <div id="cartButtonContainer-{dishId}(dishId=${menuItem.id})}">
                            <div th:id="@{btnAddToCart-{dishId}(dishId=${menuItem.id})}" th:style="${dishQuantityMap.containsKey(menuItem.name)  ? 'display: none;' : 'display: block;'}">
                                <button class="btn btn-primary" th:data-dish-id="${menuItem.id}" onclick="initialAddToCart(this)">Add to cart</button>
                                <a th:href="@{/dishes/{id}(id=${menuItem.id})}" class="btn btn-primary">Show more</a>
                            </div>

                            <div th:id="'quantityElement-' + ${menuItem.id}" th:style="${dishQuantityMap.containsKey(menuItem.name)  ? 'display: block;' : 'display: none;'}">
                                <button class="btn btn-outline-primary" th:data-dish-id="${menuItem.id}" onclick="removeFromCart(this)">-</button>
                                <span th:id="'quantityId-' + ${menuItem.id}" class="ms-1 me-1" th:text="${dishQuantityMap[menuItem.name]}"></span>
                                <button class="btn btn-outline-primary" th:data-dish-id="${menuItem.id}" onclick="addToCart(this)">+</button>
                                <a href="/cart" class="btn btn-primary">Go to cart</a>
                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    function initialAddToCart(button){
        var dishId = $(button).data('dish-id');
        $.ajax({
            url: '/cart/' + dishId + '/add',
            type: 'post',
            success: function() {
                console.log('Initial Add to cart successfully');
                toggleContent(button, true);
                var elementId = 'quantityId-' + dishId;
                console.log('script' + elementId);
                var element = document.getElementById(elementId);
                element.textContent = 1;
            },
            error: function(jqXHR, textStatus, errorThrown) {
            if (jqXHR.status === 403) {
                // User is not authenticated, redirect to the login page
                window.location.href = '/login';
            } else {
                console.error("AJAX Request Failed: " + textStatus + ", " + errorThrown);
                alert("An error occurred while adding the item to the cart.");
            }
        }
        });
    }

    function addToCart(button){
        console.log('Add to cart');
        var id = $(button).data('dish-id');
        $.ajax({
            url: '/cart/' + id + '/add',
            type: 'post',
            success: function() {
                console.log('Add to cart successfully');
                increaseQuantity(button);
            },
        });
    }

    function removeFromCart(button){
        console.log('Remove from cart');
        var id = $(button).data('dish-id');
        $.ajax({
            url: '/cart/' + id + '/remove',
            type: 'post',
            success: function() {
                console.log('Remove from cart successfully');
                decreaseQuantity(button);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("AJAX Request Failed: " + textStatus + ", " + errorThrown);
                alert("An error occurred while removing the item from the cart.");
            }
        });
    }

    function increaseQuantity(button){
        var dishId = $(button).data('dish-id');
        var elementId = 'quantityId-' + dishId;
        var element = document.getElementById(elementId);
        var currentValue = parseInt(element.textContent, 10);
        var newValue = currentValue + 1;
        element.textContent = newValue;
    }

    function decreaseQuantity(button){
        var dishId = $(button).data('dish-id');
        var elementId = 'quantityId-' + dishId;
        var element = document.getElementById(elementId);
        var currentValue = parseInt(element.textContent, 10);
        var newValue = currentValue - 1;
        element.textContent = newValue;
        if (newValue == 0){
            toggleContent(button, false);
        }
    }


    function toggleContent(button, show) {
        var dishId = $(button).data('dish-id');
        console.log('toggle ' + dishId);
        var btnAddToCart = document.getElementById("btnAddToCart-" + dishId);
        var quantityElement = document.getElementById("quantityElement-" + dishId);

        if (show) {
            btnAddToCart.style.display = "none";
            quantityElement.style.display = "block";
        } else {
            btnAddToCart.style.display = "block";
            quantityElement.style.display = "none";
        }
    }
</script>

</body>
</html>