<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>

    <div th:replace="~{header :: header}"></div>



    <div th:if="${param.error}">
        <p style="color: red;">Invalid username or password.</p>
    </div>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <br>
                <button class="btn btn-light" onclick="goBack()"><span class="bi bi-chevron-left"></span></button>
                <br>
                <h1 class="text-center">Login</h1>
                <br>
                <div class="alert alert-danger" th:if="${error}">
                    <p th:text="${error}"></p>
                </div>
                <br>
                <form th:action="@{/login-default}" th:object="${newUser}" method="post">
                    <div class="form-group">
                        <label class="form-label" for="username">Username</label>
                        <input type="text" id="username" th:field="*{username}" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="password">Password</label>
                        <input type="password" id="password" th:field="*{password}" class="form-control" />
                    </div>
                    <br>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit" >Login</button>
                    </div>

                    <div th:if="${errorMessage}" class="error-message">
                        <p th:text="${errorMessage}"></p>
                    </div>
                </form>

            </div>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div>New here?</div>
                <button class="btn btn-link ml-2" href="/users/registration">Register</button>
            </div>
        </div>
    </div>


<script>
    function goBack() {
    window.history.back();
    }
</script>

</body>



</html>