<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <title>Menu</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div th:replace="~{header :: header}"></div>



<div class="container mt-5 text-center">

    <div style="margin-top: 80px;" class="mb-3">
        <h2 class="text-primary" >Menu</h2>
    </div>

    <div style="margin-top: 50px;" sec:authorize="hasAnyRole('admin', 'manager')">
        <a class="btn btn-primary" href="/dishes/add">Add new dish</a>
    </div>

    <th:block th:each="menuItem, iStat : ${menuPage.content}">
        <div class="row">
            <a th:href="@{/menu/{menuItem}(menuItem=${menuItem})}" class="col-md-4 mx-auto my-4 text-decoration-none">
                <div class="card mb-3">
                    <div class="image-container">
                        <img
                                th:src="@{'/images/' + ${categoryImages.get(menuItem)} + '.jpeg'}"
                                class="card-img-top"
                                width="300"
                                height="300"
                                onerror="this.src='/images/default.jpeg';"
                        />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${menuItem}"></h5>
                    </div>
                </div>
            </a>
        </div>
    </th:block>
</div>





<nav th:if="${menuPage.totalPages > 0}" aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:class="${menuPage.first} ? disabled">
            <a class="page-link" th:href="@{/(size=${menuPage.size}, page=1)}" aria-label="First">
                <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:class="${menuPage.hasPrevious} ? '' : 'disabled'">
            <a class="page-link" th:href="@{/(size=${menuPage.size}, page=${menuPage.number})}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <th:block th:each="pageNumber : ${pageNumbers}">
            <li class="page-item" th:class="${pageNumber==(menuPage.number + 1)} ? 'active' : ''">
                <a class="page-link" th:href="@{/(size=${menuPage.size}, page=${pageNumber})}" th:text="${pageNumber}"></a>
            </li>
        </th:block>
        <li class="page-item" th:class="${menuPage.hasNext} ? '' : 'disabled'">
            <a class="page-link" th:href="@{/(size=${menuPage.size}, page=${menuPage.number + 2})}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li class="page-item" th:class="${menuPage.last} ? disabled">
            <a class="page-link" th:href="@{/(size=${menuPage.size}, page=${menuPage.totalPages})}" aria-label="Last">
                <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

</body>
</html>
