<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <title>Addresses</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" />
    <style>
        .menu-truncate {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }
        .menu-card-body {
            height: 15em; /* Adjust to your desired height */
            overflow: hidden;
        }
    </style>

</head>
<body>

<div th:replace="~{header :: header}"></div>

<br>
<h1 class="position-absolute start-50">Menu</h1>
<br>
<br>
<br>

<!--<div class="container">-->
<!--    <div th:if="${updateSuccess}" class="alert alert-success">Success</div>-->
<!--    <h1>Menu</h1>-->
<!--    <table class="table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Name</th>-->
<!--            <th>Description</th>-->
<!--            <th>Price</th>-->
<!--            <th></th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="dish : ${dishes}">-->
<!--            <td th:text="${dish.name}"></td>-->
<!--            <td th:text="${dish.description}"></td>-->
<!--            <td th:text="'$' + ${dish.price}"></td>-->
<!--            <td>-->
<!--                <a class="btn btn-primary" th:href="@{/users}">Add to cart</a>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->



<div class="container">
    <div class="row">
        <div th:each="menuItem : ${menuItems}" class="col-md-4 mb-4">
            <div class="card" style="width: 22rem;">
<!--                <img th:src="${menuItem.imagePath}" class="card-img-top" alt="...">-->
                <img src="#" class="card-img-top" alt="...">
                <div class="card-body menu-card-body">
                    <h5 class="card-title" th:text="${menuItem.name}"></h5>
                    <p class="card-text menu-truncate" th:text="${menuItem.description}"></p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                    <a href="#" class="btn btn-primary">Show more</a>
                    <a sec:authorize="hasRole('admin')" href="#" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>