<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <title>Addresses</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" />
    <style>
        .menu-truncate {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }
        .menu-card-body {
            height: 15em; /* Adjust to your desired height */
            overflow: hidden;
        }
    </style>

</head>
<body>

<div th:replace="~{header :: header}"></div>

<br>
<h1 class="position-absolute start-50">Menu</h1>
<br>
<br>
<br>

<div class="container">
    <div th:each="category : ${menuItemsByCategory}" class="mb-4">
        <h2 th:text="${category.key}" class="text-primary"></h2>
        <div class="row">
            <div th:each="menuItem : ${category.value}" class="col-md-4 mb-4">
                <div class="card" style="width: 22rem;">
                    <!-- Replace 'src="#"' with your actual image source -->
                    <img src="#" class="card-img-top" alt="...">
                    <div class="card-body menu-card-body">
                        <h5 class="card-title" th:text="${menuItem.name}"></h5>
                        <p class="card-text menu-truncate" th:text="${menuItem.description}"></p>
                        <form th:action="@{/cart/add}" th:method="post">
                            <input type="hidden" name="itemId" th:value="${menuItem.id}" />
                            <button type="submit" class="btn btn-primary">Add to cart</button>
                        </form>
<!--                        <a href="#" class="btn btn-primary">Add to cart</a>-->
                        <a href="#" class="btn btn-primary">Show more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div th:each="menuItem : ${menuItems}" class="col-md-4 mb-4">-->
<!--            <div class="card" style="width: 22rem;">-->
<!--&lt;!&ndash;                <img th:src="${menuItem.imagePath}" class="card-img-top" alt="...">&ndash;&gt;-->
<!--                <img src="#" class="card-img-top" alt="...">-->
<!--                <div class="card-body menu-card-body">-->
<!--                    <h5 class="card-title" th:text="${menuItem.name}"></h5>-->
<!--                    <p class="card-text menu-truncate" th:text="${menuItem.description}"></p>-->
<!--                    <a href="#" class="btn btn-primary">Add to cart</a>-->
<!--                    <a href="#" class="btn btn-primary">Show more</a>-->
<!--&lt;!&ndash;                    <a sec:authorize="hasRole('admin')" href="#" class="btn btn-primary">Edit</a>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


</body>
</html>