<!-- src/main/resources/templates/users.html -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
<h1 class="display-1">User List</h1>
<ul>
    <li th:each="user : ${users}">
        id: <span th:text="${user.id}"></span>,
        First Name: <span th:text="${user.firstName}"></span>
        Last Name: <span th:text="${user.lastName}"></span>
        Email: <span th:text="${user.email}"></span>
    </li>
</ul>
<a th:href="@{/users/new}" class="btn btn-primary">Add New User</a>
</div>
</body>
</html>